<h1>These are ALL of the vehicles in your Inventory!</h1>


<% @inv.each do |inv| %>
<a href="/inventories/<%= inv.id %>">
Year :<%= inv.year %><br>
Make :<%= inv.make %><br>
Model:<%= inv.model %></a><br>
<br><br>
<% end %>