<h1>Insert the form to create a new instance of your model.</h1>

<form action= '/inventories' method="POST">
Year : <input type=number name="year">
Make : <input type=text name="make">
Model : <input type=text name="model">
Type : <input type=text name="kind">
<input type=submit value="Submit">
</form>