<h1>Do you have a new vehicle for your inventory? </h1>

<form action= '/inventories' method="POST">
Year : <input type=number name="year">
Make : <input type=text name="make">
Model : <input type=text name="model">
Type : <input type=text name="kind">
<input type=submit value="Submit">
</form>