<div id="welcome"><h1>Welcome to My Inventory!!</h1><br>
If you have an account please <a href="/users/signin">Sign In!</a><br>
if you dont have an account with us, please <a href="/users/signup">Sign Up!</a>
</div>
